.back-button {
  display: inline-block;
  position: absolute;
  height: 50px;
  width: 100px;
  z-index: 3;
  border: 1px solid black;
  cursor: pointer;
}

.back-button:hover {
  background-color: lightgrey;
}
