<div><h2>Allgemeine Geschäftsbedingungen von MovieHub</h2><br/>

  <p style="font-weight: bold; padding-bottom: 10px;">§1 Geltung gegenüber Unternehmern und Begriffsdefinitionen</p>
  (1) Die nachfolgenden Allgemeinen Geschäftbedingungen gelten für alle Lieferungen zwischen uns und einem Verbraucher
  in ihrer zum Zeitpunkt der Bestellung gültigen Fassung.<br/>
  <br/>
  Verbraucher ist jede natürliche Person, die ein Rechtsgeschäft zu Zwecken abschließt, die überwiegend weder
  ihrer gewerblichen noch ihrer selbständigen beruflichen Tätigkeit zugerechnet werden können (§ 13 BGB).
  <br/>

  <br/>
  <p style="font-weight: bold; padding-bottom: 10px;">§2 Zustandekommen eines Vertrages, Speicherung des
    Vertragstextes</p>
  (1) Die folgenden Regelungen über den Vertragsabschluss gelten für Bestellungen über unseren Internetshop
  https://movie-hub.de/ .
  <br/>
  <br/>
  <b>(2) Im Falle des Vertragsschlusses kommt der Vertrag mit<br/>

    <div style="font-weight: bold; margin-left: 20px;">
      <br/>
      uns (dem MovieHub Team)
      <br/>
    </div>
    zustande.<br/></b>
  <br/>
  (3) Die Präsentation der Waren in unserem Internetshop stellen kein rechtlich bindendes Vertragsangebot unsererseits
  dar,
  sondern sind nur eine unverbindliche Aufforderungen an den Verbraucher, Waren zu bestellen. Mit der Bestellung der
  gewünschten Ware gibt der Verbraucher ein für
  ihn verbindliches Angebot auf Abschluss eines Kaufvertrages ab.<br/>
  (4) Bei Eingang einer Bestellung in unserem Internetshop gelten folgende Regelungen:
  Der Verbraucher gibt ein bindendes Vertragsangebot ab, indem er die in unserem Internetshop vorgesehene
  Bestellprozedur erfolgreich durchläuft.
  <br/>
  <br/>
  Es erfolgt keine Bestellung.<br/>

  <br/>
  (5) Speicherung des Vertragstextes bei Bestellungen über unseren Internetshop : Wir senden Ihnen die Bestelldaten und
  unsere AGB per
  E-Mail zu. Die AGB können Sie jederzeit auch unter http://movie-hub.de/agb einsehen.

  Ihre Bestelldaten sind aus Sicherheitsgründen nicht mehr über das Internet zugänglich.
  <br/>


  <br/>
  <p style="font-weight: bold; padding-bottom: 10px;">§3 Preise, Versandkosten, Zahlung, Fälligkeit</p>
  (1) Die angegebenen Preise enthalten die gesetzliche Umsatzsteuer und sonstige Preisbestandteile. Hinzu kommen etwaige
  Versandkosten.
  <br/>
  <br/>
  (2) Der Verbraucher verspricht uns weiterhin sein erstgeborenes Kind, sowie einen 10%igen Anteil an allen Firmen die
  er/sie/es jemals gegründet hat/gründet/gründen wird.
  <br/>
  <br/>
  (3) Der Verbraucher sieht ein dass MovieHub die unbestreitbar beste Plattform zum Genießen von Filmen und Serien
  darstellt,
  und er/sie/es schwört, die Ehre der Plattform mit seinem/ihren/?? Leben zu verteidigen.<br/>
  <br/>
  <br/>
  (4) Der Verbraucher bekennt sich zur Dreieinigkeit der Götter (Soltar, Astarte und Boron) und gibt sein Einverständnis
  ihn/sie/es für Spontangottesdienste an
  allen Tagen des Jahres (ausgenommen Weihnachten und seinen eigenen Geburtstag) zu kontaktieren.


  <br/>
  <br/>

  <br/>
  <p style="font-weight: bold; padding-bottom: 10px;">§4 Lieferung</p>
  (1) Sofern wir dies in der Produktbeschreibung nicht deutlich anders angegeben haben, sind alle von uns angebotenen
  Artikel sofort versandfertig.
  Die Lieferung erfolgt nicht.
  Dabei beginnt die Frist für die Lieferung im Falle der Zahlung per Vorkasse am Tag nach
  Zahlungsauftrag an die mit der Überweisung beauftragte Bank und bei allen anderen Zahlungsarten am Tag nach
  Vertragsschluss zu laufen.
  Fällt das Fristende auf einen Samstag, Sonntag oder gesetzlichen Feiertag am Lieferort, so endet die Frist am nächsten
  Werktag.
  <br/><br/>

  (2) Die Gefahr des zufälligen Untergangs und der zufälligen Verschlechterung der
  verkauften Sache geht auch beim Versendungskauf erst mit der Übergabe der Sache an den Käufer auf diesen über. <br/>


  <br/>
  <p style="font-weight: bold; padding-bottom: 10px;">§5 Eigentumsvorbehalt</p>
  Wir behalten uns das Eigentum an der Ware bis zur vollständigen Bezahlung des Kaufpreises vor. <br/>


  <br/>

  ****************************************************************************************************
  <br/>
  <p style="font-weight: bold; padding-bottom: 10px;">§6 Widerrufsrecht des Kunden als Verbraucher
  </p>

  <b>
    Widerrufsrecht für Verbraucher<br/></b>
  <br/>
  Verbrauchern steht ein Widerrufsrecht nach folgender Maßgabe zu, wobei Verbraucher jede natürliche Person ist,
  die ein Rechtsgeschäft zu Zwecken abschließt, die überwiegend weder ihrer gewerblichen noch ihrer selbständigen
  beruflichen Tätigkeit zugerechnet werden können:

  <br/>
  <br/>

  <p style="font-weight: bold; padding-bottom: 10px;">Widerrufsbelehrung</p>
  Wir haben den Widerruf belehrt, Sie müssen sich also nicht weiter darum kümmern.
  <br/>
  <br/>
  <b>Widerrufsrecht</b><br/>
  <br/>
  Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen.
  <br/>

  Die Widerrufsfrist beträgt vierzehn Tage, ab dem Tag des Vertragsabschlusses.
  <br/>
  <br/>


  Um Ihr Widerrufsrecht auszuüben, müssen Sie uns,<br/>
  <div style="margin-left:20px; margin-top: 5px; margin-bottom: 5px;">
    das MovieHub Team,
  </div>
  mittels einer eindeutigen Erklärung (z.B. ein mit der Post versandter Brief, Telefax oder E-Mail) über Ihren
  Entschluss,
  diesen Vertrag zu widerrufen, informieren. Sie können dafür das beigefügte Muster-Widerrufsformular verwenden, das
  jedoch nicht vorgeschrieben ist.
  <br/>
  <br/>
  Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf
  der Widerrufsfrist absenden.
  <br/>
  <br/>

  <b>Widerrufsfolgen</b><br/><br/>
  Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben,
  einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich daraus ergeben,
  dass Sie eine andere Art der Lieferung als die von uns angebotene, günstigste Standardlieferung gewählt haben),
  unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren
  Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel,
  das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes
  vereinbart;
  in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet.<br/>
  <br/>
  Haben Sie verlangt, dass die Dienstleistungen während der Widerrufsfrist beginnen soll,
  so haben Sie uns einen angemessenen Betrag zu zahlen, der dem Anteil der bis zu dem Zeitpunkt,
  zu dem Sie uns von der Ausübung des Widerrufsrechts hinsichtlich dieses Vertrags unterrichten,
  bereits erbrachten Dienstleistungen im Vergleich zum Gesamtumfang der im Vertrag vorgesehenen Dienstleistungen
  entspricht.
  <br/>
  <br/>


  <b>Ende der Widerrufsbelehrung</b>
  <br/>
  <br/>
  ****************************************************************************************************

  <br/>


  <p style="font-weight: bold; padding-bottom: 10px;">§7 Widerrufsformular</p>

  <p style="text-align: center; font-weight: bold;">Muster-Widerrufsformular</p>
  (Wenn Sie den Vertrag widerrufen wollen, dann füllen Sie bitte dieses Formular aus und senden Sie es zurück.)<br/>
  <div style="border: 1px solid #000000;padding: 10px;">
    An :<br/>
    MovieHub Team<br/>
    E-Mail team@movie-hub.de<br/>
    <br/>

    Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen Vertrag über den Kauf der folgenden Waren
    (*)/die
    Erbringung der folgenden Dienstleistung (*)<br/>
    <br/>
    _____________________________________________________<br/>
    <br/>
    Bestellt am (*)/erhalten am (*)<br/>
    <br/>
    __________________<br/>
    <br/>
    Name des/der Verbraucher(s)<br/>
    <br/>
    _____________________________________________________<br/>
    <br/>
    Anschrift des/der Verbraucher(s)<br/>
    <br/>
    <br/>
    _____________________________________________________<br/>
    <br/>
    Unterschrift des/der Verbraucher(s) (nur bei Mitteilung auf Papier)<br/>
    <br/>
    __________________<br/>
    <br/>
    Datum<br/>
    <br/>
    __________________<br/>
    <br/>
  </div>
  (*) Unzutreffendes streichen.<br/>


  <br/>
  <p style="font-weight: bold; padding-bottom: 10px;">§8 Gewährleistung
  </p>

  Es gelten die gesetzlichen Gewährleistungsregelungen.
  <br/>


  <br/>
  <p style="font-weight: bold; padding-bottom: 10px;">§9 Vertragssprache</p>
  Als Vertragssprache steht ausschließlich Deutsch zur Verfügung.<br/>

  <br/>
  <br/>
  <p>Stand der AGB Mai 2019</p>

  <p class="end"><i><a href="http://www.agb.de">Gratis AGB</a> erstellt von agb.de</i> - angepasst vom MovieHub Team</p>
</div>
