<div class="border">
  <div>
    <form (ngSubmit)="onSend()">

      <div class="field">
        <input type="text" name="name" class="input" placeholder="Your Name" [(ngModel)]="name">
      </div>

      <div class="field">
        <input type="email" name="email" class="input" placeholder="Your Email" [(ngModel)]="email">
      </div>

      <div class="field">
        <textarea class="textarea" name="message" placeholder="What's on your mind?" [(ngModel)]="message"></textarea>
      </div>

      <app-basic-button [text]="globals?.staticTexts | getStaticText : 'send': languageService.getLanguage()">
      </app-basic-button>

    </form>
  </div>
</div>
