<div class="border">
  <div>
    <form (ngSubmit)="onSend()">

      <div class="field">
        <input type="text" name="name" class="input" placeholder="Your Name" [(ngModel)]="name">
      </div>

      <div class="field">
        <input type="text" name="subject" class="input" placeholder="What's it about?" [(ngModel)]="subject">
      </div>

      <div class="field">
        <textarea class="textarea" name="message" ID="myText  " placeholder="What's on your mind?" [(ngModel)]="message"></textarea>
      </div>

      <app-basic-button (click)="onSend()"
                        [text]="globals?.staticTexts | getStaticText : 'send': languageService.getLanguage()">
      </app-basic-button>

    </form>
  </div>
</div>
