div {
  height: 3rem;
  line-height: 3rem;
  min-width: 10rem;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  background-color: #ffa31a;
  color: #3C3F41;
  border-radius: 6px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}

.disabled {
  margin: 10px;
  background-color: grey;
}

.disabled:hover {
  margin: 10px;
  border: 1px solid black;
  background-color: dimgrey;
}

div:hover {
  background-color: #db9327;
  color: white;
}

div:active {
  transform: translateY(2px);
}
