div {
  padding: 0.5rem;
  display: inline-block;
  cursor: pointer;


}
.foot{
  width: 95%;
  border-top: 1px solid #ffa31a;
  margin: 10px;
  padding: 5px
}

div:hover {
  color: blue;
  text-underline-color: blue;
}

.active {
  text-decoration: underline;
}
