<div class="foot"></div>

<div (click)="changeLanguage(0)" [class.active]="languageService.getLanguage() === 0">
  {{globals?.staticTexts | getStaticText : 'englishLanguageText' : languageService.getLanguage()}}
</div>

<div (click)="changeLanguage(1)" [class.active]="languageService.getLanguage() === 1">
  {{globals?.staticTexts | getStaticText : 'germanLanguageText' : languageService.getLanguage()}}
</div>

<div (click)="changeLanguage(2)" [class.active]="languageService.getLanguage() === 2">
  {{globals?.staticTexts | getStaticText : 'spanishLanguageText' : languageService.getLanguage()}}
</div>

<div *ngIf="globals.view != 'impressum'" (click)="navigationService.navigateToView('impressum')">
  {{globals?.staticTexts | getStaticText : 'impressumText' : languageService.getLanguage()}}
</div>

<div *ngIf="globals.view != 'agb'" (click)="navigationService.navigateToView('agb')">
  {{globals?.staticTexts | getStaticText : 'agbText' : languageService.getLanguage()}}
</div>

<div *ngIf="globals.view != 'contact'" (click)="navigationService.navigateToView('contact')">
  {{globals?.staticTexts | getStaticText : 'contactText' : languageService.getLanguage()}}
</div>

<p>
  v{{globals.version}}
</p>
