div {
  padding: 0.5rem;
  display: inline-block;
  color: white;
  cursor: pointer;
}

div:hover {
  color: #ffa31a;
}

.foot {
  padding: 0;
  cursor: default;
  display: block;
  border-top: 1px solid #ffa31a;
  margin: 10px;
}

.active {
  text-decoration: underline;
}
