<app-basic-button class="button" *ngIf="authService.isLoggedIn()" (click)="logoutUser()"
                  [text]="globals?.staticTexts | getStaticText : 'logoutText' : languageService.getLanguage()">
</app-basic-button>

<app-basic-button *ngIf="authService.isLoggedIn()" (click)="navigateToOverview()"
                  [text]="globals?.staticTexts | getStaticText : 'homeText' : languageService.getLanguage()">

</app-basic-button>

<div class="button" *ngIf="!authService.isLoggedIn() && globals.view != 'login'" (click)="navigateToLogin()">
  {{globals?.staticTexts | getStaticText : 'loginText' : languageService.getLanguage()}}
</div>
{{globals.staticTexts | getStaticText : 'currentUserText' : languageService.getLanguage()}} {{globals.currentUser.name}}
