:host {
  height: 100px;
  align-items: center;
}


.text {
  display: inline-block;
  color: white;
}

app-basic-button{
  margin: 1rem;
}

app-logo{
  flex-wrap: nowrap;
}

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

div{
  flex-grow: 2;
}

