<app-logo *ngIf="authService.isLoggedIn()" (click)="navigateToOverview()"></app-logo>
<br>
<br>
<ng-container class="head" *ngIf="authService.isLoggedIn()">
  <app-basic-button class= "logout" (click)="logoutUser()"
                    [text]="globals?.staticTexts | getStaticText : 'logoutText' : languageService.getLanguage()">
  </app-basic-button>

  <app-basic-button *ngIf="authService.isLoggedIn()" (click)="navigateToOverview()"
                    [text]="globals?.staticTexts | getStaticText : 'homeText' : languageService.getLanguage()">
  </app-basic-button>

  <app-basic-button (click)="navigateToList()"
                    [text]="globals.staticTexts | getStaticText : 'myListText' : languageService.getLanguage()">
  </app-basic-button>
</ng-container>

<div class="button" *ngIf="!authService.isLoggedIn() && globals.view != 'login'" (click)="navigateToLogin()">
  {{globals?.staticTexts | getStaticText : 'loginText' : languageService.getLanguage()}}
</div>

{{globals.staticTexts | getStaticText : 'currentUserText' : languageService.getLanguage()}} {{globals.currentUser.name}}
