:host {
  align-items: center;
}


.text {
  display: inline-block;
  color: white;
}

app-basic-button{
  margin: 1rem;
}


.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div{
  flex-grow: 2;
}
app-logo{
  position: sticky;
  top: 0px;
  left: 0px;
}

