<img src="{{THUMBNAILS_PATH}}{{movie.filename}}.jpg"
     alt=""
     (click)="navigateToMovie()"
     (mouseenter)="hoverShowDescription()"
     />
<!--<div class="desriptio" *ngIf="hover" (mouseleave)="hoverLeave()">
  <h2 *ngIf="hover" (click)="navigateToMovie(movie.filename)">{{movie.name}}</h2>
  <app-movie-description [movie]="movie"></app-movie-description>
  <app-basic-button *ngIf="!movieIsInList()" (click)="addMovieToList()"
                    [text]="globals.staticTexts | getStaticText : 'addToListText' : languageService.getLanguage()">
  </app-basic-button>
  <app-basic-button *ngIf="movieIsInList()" (click)="removeMovieFromList()"
                    [text]="globals.staticTexts | getStaticText : 'removeFromListText' : languageService.getLanguage()">
  </app-basic-button>
</div>-->
