img {
  cursor: pointer;

  width: 300px;
  height: 170px;

  -webkit-transition: width 0.5s, height 0.5s; /* Safari */
  transition: width 0.5s, height 0.5s;
}

img:hover {
  width: 600px;
  height: 340px;
}
