<!--  ###############################  Impressum  ###############################  -->
<p id="footer" class="page-footer"></p>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <hr class="hidden-md-up"/>
      <h3 class="text" style="text-align:center;"><p><b>Impressum Gruppe 7</b> Web-Programmierung</p></h3>
    </div>
  </div>
  <div class="col-md-4">
    <hr class="hidden-md-up"/>
  </div>
</div>

<div class="brand">
  <p>Lenny Bierwirth, l.bierwirth@ostfalia.de, 70458777</p>
  <p>Max Werner, max.werner@ostfalia.de, 70458108</p>
  <p>Robin Müller, rob.mueller@ostfalia.de, 70460210</p>
  <p>A. Sophie Eichmann, a.eichmann@ostfalia.de, 70452922</p>
</div>
