<div class="border">
  <div>
    <input class="text-input" type="email"
           placeholder="{{globals.staticTexts | getStaticText : 'mailText' : languageService.getLanguage()}}"
           #inputMail
           (keyup)="emailRegisterChange(inputMail.value)">
    <div style="color:white" role="alert">
      <div [style.visibility]="registerEmailValid ? 'hidden' : 'visible'">Bitte eine richtige
        E-Mail angeben.
      </div>
    </div>

    <br>
    <input class="text-input" type="password"
           placeholder="{{globals.staticTexts | getStaticText : 'passwordText' : languageService.getLanguage()}}"
           #inputRegPassword
           (keyup)="passwordRegisterChange(inputRegPassword.value)">
    <div style="color:white" role="alert">
      <div [style.visibility]="registerPasswordValid ? 'hidden' : 'visible'">Das Passwort ist
        nicht sicher genug. Bitte geben Sie ein Passwort mit mindestens 4 Zeichen ein.
      </div>
    </div>

    <br>
    <input class="text-input" type="password"
           placeholder="{{globals.staticTexts | getStaticText : 'repeatPasswordText' : languageService.getLanguage()}}"
           #inputRepRegPassword
           (keyup)="repeatPasswordRegisterChange(inputRepRegPassword.value)">
    <div style="color:white" role="alert">
      <div [style.visibility]="registerRepeatPasswordValid ? 'hidden' : 'visible'">Das Passwort
        muss mit dem zuvor eingegebenen Passwort uebereinstimmen und mehr als vier Zeichen haben.
      </div>
    </div>

    <br>

    <input id="AGBCheckbox" type="checkbox" #inputCheck (click)="checkedAGBRegisterChange(inputCheck.checked)">
    <label for="AGBCheckbox">I have read and accept the AGB</label>
    <div style="color:white" role="alert">
      <div *ngIf="!registerAgbValid">Sie muessen die AGB akzeptieren um sich registrieren zu können.</div>
    </div>

    <br>

    <app-basic-button id="sendButton"
                      [disabled]="!registerButtonClickable()"
                      (click)="onRegister()"
                      text="Abschicken">
    </app-basic-button>
  </div>
</div>
