app-movie-preview {
  display: block;
}

.reset-genre {
  cursor: pointer;
  display: inline-block;
}

.reset-genre:hover {
  text-decoration: underline;
}

.search-container {
  margin-left: 10px;
  display: inline-block;
}
