app-movie-preview {
  display: block;
}

.reset-genre {
  cursor: pointer;
  display: inline-block;
}

.reset-genre:hover {
  text-decoration: underline;
}

.search-container {
  margin-left: 10px;
  display: inline-block;

}

.searchbox{
  background-image: url('../../../assets/icons/search.png');
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-size: 25px auto;
  font-size: 16px;
  box-sizing: border-box;
  width: 10rem;
  border: 1px solid #ffa31a;
  border-radius: 6px;
  padding: 12px 20px 12px 45px;
}
