:host {
  color: white;
  width: 70%;
  text-align: justify;
  margin: 10px 20px 10px 50px;
  padding: 10px;
}

img {
  margin: 20px;
  width: 40rem;
  height: 22.5rem;
  cursor: pointer;
  display: inline-block;
}

h2 {
  cursor: pointer;
  margin-top: 0;
}

#add {
  transform: translate3d(-320%, -850%, 0);
}

#remove {
  transform: translate3d(-320%, -850%, 0);
}

#information {
  transform: translate3d(-300%, -850%, 0);
}

.btn {
  z-index: 4;
  display: inline-block;
  border: 2px solid black;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  bottom: 0;
  background-position: 5px 5px !important;
  background-repeat: no-repeat !important;
  background-size: 25px auto;
  background-color: #ffa31a !important;
  cursor: pointer;
}

@media only screen and (max-width: 1089px) {
  #add, #remove, #information {
    transform: translate3d(1450%, -965%, 0);
  }
}
