<img (click)="navigateToMovie(movie.filename)" src="{{THUMBNAILS_PATH + movie.filename + '.jpg'}}"
     (mouseenter)="mouseEnter(movie.name) " (mouseleave)="mouseLeave(movie.name)">
<h2 (click)="navigateToMovie(movie.filename)">{{movie.name}}</h2>
<app-movie-description *ngIf="hover" [movie]="movie"></app-movie-description>

<app-basic-button *ngIf="!movieIsInList()" (click)="addMovieToList()"
                  [text]="globals.staticTexts | getStaticText : 'addToListText' : languageService.getLanguage()">
</app-basic-button>
<app-basic-button *ngIf="movieIsInList()" (click)="removeMovieFromList()"
                  [text]="globals.staticTexts | getStaticText : 'removeFromListText' : languageService.getLanguage()">
</app-basic-button>
