<div (mouseenter)="mouseEnter(movie.name) " (mouseleave)="mouseLeave(movie.name)">
  <h2 (click)="navigateToMovie(movie.filename)">{{movie.name}}</h2>
  <div>
    <img (click)="navigateToMovie(movie.filename)" src="{{THUMBNAILS_PATH + movie.filename + '.jpg'}}">
    <div class="btn" (click)="addMovieToList()" id="add" *ngIf="hover && !movieIsInList()"
         [ngStyle]="{background: 'url(../../../assets/icons/plus.png'}"></div>
    <div class="btn" (click)="removeMovieFromList()" id="remove" *ngIf="hover && movieIsInList()"
         [ngStyle]="{background: 'url(../../../assets/icons/minus.png'}"></div>
    <div class="btn" (click)="toggleInfo()" id="information" *ngIf="hover"
         [ngStyle]="{background: 'url(../../../assets/icons/info.png'}"></div>
  </div>
  <app-movie-description *ngIf="info" [movie]="movie"></app-movie-description>
</div>
