.hub {
  background: #3C3F41;
  color: #ffff;
  display: block;
  font-weight: bold;
  font-size: 3rem;
  position: relative;
  float: left;
  cursor: pointer;
  margin: 10px 0 0 20px;
  white-space: nowrap;
}

.hub span:nth-child(2) {
  background: #ffa31a;
  color: #000000;
  border-radius: 0.5rem;
  padding: 0 0.5rem 0.5rem 0.5rem;
  display: inline-block;
  margin-left: 5px;
}
